<%- include("partials/header"); -%>
<div class="container"> 
    <h1 style="text-align: center; margin-top: 100px;">Add new</h1>
    <br>
    <form action="/blogs" method="post">
        <div class="form-group">
            <label for="title">Title of the blog</label>
            <input type="text" name="blog[title]" class="form-control" id="title" aria-describedby="titleHelp" style="width: 75%;">
            <small id="titleHelp" class="form-text text-muted">This will be the heading of the blog!</small>
          </div>
          <div class="form-group">
            <label for="title">Add an Image!</label>
            <input type="text" name="blog[image]" class="form-control" id="title"  style="width: 75%;">
            
          </div>
          <div class="form-group">
            <label for="title">The main content goes here</label>
           <textarea name="blog[body]" class="form-control" id="title" cols="30" rows="10"></textarea>
          </div>
        
        <input class="btn btn-primary" type="submit" name="" id="">
        
        
        </form>

</div>

    

<%- include("partials/footer"); -%>
